<!-- Library Online -->
<div class="jumbotron text-center">
  <h1><%= t('Site_title') %></h1> 
  <p><%= t('Our_speciality') %></p> 
</div>

<!-- About Library Online -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>ABOUT LIBRARY ONLINE</h2><br>

      <h4>This Library Online DUONG FERNANDEZ is the future library. </h4><br>
      <p>Here you can reserve and render books. Read the synopsis of a book. See the cover of a book. See the first pages of a book. You can also add book if you want. See all comments about all books. Share your opinion about books. You can have an idea about a book before read it. You can also see all the books that the others users have already read.The site is available both in French and in English with I18n. This website is developed with Ruby using all the convention and the specificity of the framework Rails : many associations beetween models (has_many, belongs_to, has_one, has_many through), I18n, deployed with Heroku, Devise, concept DRY, JSON & XML request, database Sqlite, Scope, Validates.  </p><br>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<!-- Our values-->
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> We are recognised for services and collections that promote and support world-class research and scholarship. Innovative and flexibly delivered Library support services are the hallmarks of an enriched student experience. Our people are agile, future-focused and work together as one outstanding enterprise in the pursuit of excellence.</h4><br>      
      <p><strong>VISION:</strong> We will be acclaimed for our expertise and collaboration in supporting esteemed research and scholarship, and for transforming the way people discover and engage with information.</p>
    </div>
  </div>
</div>



<!-- What we offer -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>We make the website more powerful...</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>We are passionate in our books...</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>We perform a job well done for your satisfaction...</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>We make an effort for the environnement...</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>We certify the quality of our books...</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>We work hard for your service...</p>
    </div>
  </div>
</div>



<!-- What our customers says -->
<div class="container-fluid text-center bg-grey">
	 <h2>What our customers say</h2>
	<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	    <h4>"This Library Online is the best. I am so happy with the service!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
	    </div>
	    <div class="item">
	      <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
	    </div>
	    <div class="item">
	      <h4>"Could I... BE any more happy with this Library Online?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>