<!DOCTYPE html>
<html>
<body>
  <p>Thank you for your comment in our Library Online!</p>
  <p>Log in: <%= link_to 'library-online-duofer.herokuapp.com', 'library-online-duofer.herokuapp.com' %></p>
</body>
</html>